body{
    background-color: #fffdfa;
    color: white;
    margin-right:5%;
    margin-left:5%;
}
p{
    text-align: center;
    color:#27243b;
    font-family:Arial;
    font-size: 1em;
}
a{
    color: white;
    font-family: Arial;
    text-decoration: none;  
    font-size: 1.2em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2{
    font-family: Garamond;
    text-align: center;
    padding-bottom:10px;
}
ul{
    font-family:Arial;
}
.button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button a:hover{
    background-color: #27243b; 
}
.sectionHead{
    background-color: #302c4a; 
    color:white;   
    padding-top:10px;
    padding-bottom:10px; 
}
.sectionContent{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20%;
    padding-right:20%;
    color:#27243b;
    font-size: 1.2em;
    padding-left: 20%;
    padding-right: 20%;
    font-family: Arial;
    border-bottom:5px solid #27243b;
}
#banner{
    font-family: Garamond;
    color: White;
    padding-top: 15px;
    Padding-bottom: 15px;
    text-align: center;
    font-size: 1.2em;
    background-color: #27243b
}
#navbar{
    background-color: #302c4a;
    justify-content: space-evenly;
    display: flex;
}
@media only screen and (max-width: 600px){
    #navbar{
        display:none;
    }
}
#profile{
    color:#27243b;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20%;
    padding-right:20%;
    font-size: 1.2em;
    font-family: Arial;
    display:flex;
}
#profileText{
    flex:2;
    padding-left:20%;
}
#profileImage{
    flex:1;
    padding-top:5%;
}
#email{
    color:#27243b;
    font-size:1em;
    padding:0;
}
#linkedin{
    color:#27243b;
    font-size:1em;
    padding:0;
}
#github{
    color:#27243b;
    font-size:1em;
    padding:0;
}
#skills{
    display:flex;
    font-size:1.2em;
    flex-direction:row;
    justify-content:space-around;
}